body{
    background-color: blanchedalmond;
    background-image: linear-gradient(rgb(228, 218, 202), rgb(239, 201, 193));
}

.sum-body{
  background-image: none;
  background-color: rgb(200, 201, 202);
  align-items: center;
  text-align: center;
}

p.medium-size{
  font-size: 20px;
}

.sum-body a{
  color:peru;
}

nav{
    background-color:rgb(237, 222, 202);
}

.card-img-top {
    max-width: 20%;
    height: auto;
}

.btn {
    margin-top: 10px;
}

.product-info { 
    background-color: rgb(210, 191, 191);
    margin-top: 48px;
    border-radius: 12px;
}

#order-table{
  display: table;
}

.product-info .card {
    margin-top: 10px;
}

input:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
  }

  .box {
    border: 2px solid rgb(210, 199, 221);
    background-color: #cccccc;
    background-image: linear-gradient(rgb(184, 224, 222), rgb(166, 188, 202));
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: -20%;
    max-width: 300px;
    height: auto;
    text-align: center;
    }

    .inline {
        display: block;

      }

    .inline p{
        margin: 3px;
    }

  .container{
    text-align: start;
    align-content: center;
  }

  table{
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  table, th, td {
    border:1px solid black;
  }

  th#th-order-totprice,#th-order-price{
    width: 25%;
  }

  th#th-prod,#th-total-antal, #th-order-prod {
    width: 40%;
  }

  th#th-quant, #th-cart-total-antal {
    width: 18%;
  }

  th#th-price, #th-tot-price-text {
    width: 17%;
  }

  th#th-totprice {
    width: 18%;
  }

  th#th-rm-btn {
    width: auto;
  }

  #kund-btn-right{
    position: relative;
  }

  .offcanvas{
    background-color: blanchedalmond;
    width: 50% !important;
  }

  @media screen and (768px <= width < 1024px){

    .offcanvas {
      width: 75% !important;
    }
  }

  @media screen and (width < 768px){

    .offcanvas {
      width: 100% !important;
    }
  }

  #cart-btn{

      color: rgb(62, 96, 54);
      background-color: rgb(212, 200, 182);
      border: none;
      border-radius: 50%;
  }

  .quant-btns-div{

    font-weight: bold;
    display: inline-flex;
  }

  .quant-btns-div > span{

    margin-top: 0%;
    vertical-align:middle;
    color:black
  }